#
# OCEMR - settings.py
#

#
# DATABASE_ENGINE -
#       'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'
#
#

DATABASE_ENGINE = 'sqlite3'

#
# DATABASE_NAME -
#       database name OR path to database file if using sqlite3.
#

DATABASE_NAME = '/var/lib/ocemr/db/ocemr.db'

#
# DATABASE_* -
#       other database connection options (Not used with sqlite3.)
#
#
DATABASE_USER = ''
DATABASE_PASSWORD = ''
DATABASE_HOST = ''             # Set to empty string for localhost.
DATABASE_PORT = ''             # Set to empty string for default.

#
# DB_BACKUP_*
#

DB_BACKUP_ENCRYPT=False
DB_BACKUP_ENCRYPT_TO=( "ocemr@localhost" )

#
# DEBUG -
#       set debug mode on?
#
#

DEBUG = False
TEMPLATE_DEBUG = DEBUG

#
# Session Security
#

SESSION_EXPIRE_AT_BROWSER_CLOSE = True

#
# ADMINS-
#       set name and email addresses of administrators
#
#

ADMINS = (
    # ('Your Name', 'your_email@domain.com'),
)

MANAGERS = ADMINS
SERVER_EMAIL = 'ocemr@example.com'

#
# APP_PATH -
#       Location the software is installed.
#
#

APP_PATH="/usr/share/ocemr/apps/ocemr"
CONTRIB_PATH="/usr/share/ocemr/contrib"


#
# OCEMR PRINTER SETTINGS
#
# PRINTER_NAME -
#       Local CUPS printer name for printing records
#
# PAPER_SIZE -
#       Paper Size. 'letter' or 'A4'
#

PRINTER_NAME = "Some_CUPS_Printer"
PAPER_SIZE = "Letter"


# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# If running in a Windows environment this must be set to the same as your
# system time zone.
TIME_ZONE = 'America/Chicago'

# TIME / DATE FORMATS
#
#

USE_L10N = True


# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
# LANGUAGE_CODE = 'en-us'

SITE_ID = 1

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = True

# Absolute path to the directory that holds media.
# Example: "/home/media/media.lawrence.com/"
MEDIA_ROOT = ''

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash if there is a path component (optional in other cases).
# Examples: "http://media.lawrence.com", "http://example.com/media/"
MEDIA_URL = ''

# URL prefix for admin media -- CSS, JavaScript and images. Make sure to use a
# trailing slash.
# Examples: "http://foo.com/media/", "/media/".
ADMIN_MEDIA_PREFIX = '/media/admin/'

# Make this unique, and don't share it with anybody.
#
#  python -c 'import random; print "".join([random.choice("abcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*(-_=+)") for i in range(50)])'
#
SECRET_KEY = '3hsqn3d=zerhs33dn-drs6^5ptexq@+_7y0k8$4nw1e^3g%2(n'

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.load_template_source',
    'django.template.loaders.app_directories.load_template_source',
#     'django.template.loaders.eggs.load_template_source',
)

TEMPLATE_CONTEXT_PROCESSORS = (
    "django.core.context_processors.auth",
    "django.core.context_processors.debug",
    "django.core.context_processors.i18n",
    "django.core.context_processors.request",
    #"django.contrib.staticfiles.context_processors.staticfiles",
    #"django.contrib.messages.context_processors.messages",
)

MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.locale.LocaleMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
)

ROOT_URLCONF = 'ocemr.urls'
FORMAT_MODULE_PATH='ocemr.formats'

TEMPLATE_DIRS = (
    # Put strings here, like "/home/html/django_templates" or "C:/www/django/templates".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths.
)

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.admin',
    'django.contrib.admindocs',
    'ocemr',
)

import version
OCEMR_VERSION=version.OCEMR_VERSION

