/*
//#########################################################################
//
//    This file is part of OCEMR.
//
//    OCEMR is free software: you can redistribute it and/or modify
//    it under the terms of the GNU General Public License as published by
//    the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.
//
//    OCEMR is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU General Public License for more details.
//
//    You should have received a copy of the GNU General Public License
//    along with OCEMR.  If not, see <http://www.gnu.org/licenses/>.
//
//
//########################################################################
//       Copyright 2011-8 Philip Freeman <elektron@halo.nu>
//#########################################################################
*/

#diagnosis
{
	width: 100%;
	margin: .1em;
        padding: 0em;
        border: 3px solid #606070;
	background: #F6F6F6;
}	
#diagnosisNotes
{
	width: 100%;
        margin: .25em;
        padding: .25em;
        border: 0px solid #000000;
	
}
#diagnosisNote
{
	border-bottom: 1px solid #000000;
	
}
#diagnosisByline
{
	text-size: .75em;
}

