/*
//#########################################################################
//
//    This file is part of OCEMR.
//
//    OCEMR is free software: you can redistribute it and/or modify
//    it under the terms of the GNU General Public License as published by
//    the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.
//
//    OCEMR is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU General Public License for more details.
//
//    You should have received a copy of the GNU General Public License
//    along with OCEMR.  If not, see <http://www.gnu.org/licenses/>.
//
//
//########################################################################
//       Copyright 2011-8 Philip Freeman <elektron@halo.nu>
//#########################################################################
*/

#labNote
{
	width: 100%;
        margin: 0em;
        padding: 0em;
        border: 1px solid #000000;
}	

