Source: ocemr
Section: misc
Priority: extra
Maintainer: Philip Freeman <philip.freeman@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), python-all
Standards-Version: 3.8.4
Homepage: http://kremlor.net/projects/ocemr
#Vcs-Git: git://git.debian.org/collab-maint/ocemr.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ocemr.git;a=summary

Package: ocemr
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-django, python-sqlite,
 python-matplotlib, python-mysqldb,
 apache2, libapache2-mod-python,
 cups, enscript, gnupg, sqlite3
Recommends: mysql-server, mysql-client
Description: Open Clinic Electonic Medical Records
 OCEMR is a web based electronic medical records system designed for the
 clinic environment. Designed for small clinics in rural parts of the world,
 this web-based EMR is portable and straightforward to use. Apache2, python,
 and Django App.
