Source: ocemr
Section: misc
Priority: extra
Maintainer: Philip J Freeman <elektron@halo.nu>
Build-Depends: debhelper (>= 7.0.50~), python-all, dh-python, python2.7
Standards-Version: 3.9.1
Homepage: http://kremlor.net/projects/ocemr

Package: ocemr
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-django, python-sqlite,
 python-matplotlib, python-mysqldb, python-enchant, python-pymysql,
 apache2, libapache2-mod-wsgi, python-simplejson,
 cups, enscript, gnupg, sqlite3, bzip2
Recommends: mysql-server, mysql-client
Description: Open Clinic Electonic Medical Records
 OCEMR is a web based electronic medical records system designed for the
 clinic environment. Designed for small clinics in rural parts of the world,
 this web-based EMR is portable and straightforward to use. Apache2, python,
 and Django App.
