{% extends "base.html" %}
{% block title %}Patient Search{% endblock %}
{% block extrahead %}
{{ form.media }}
<script language="javascript" type="text/javascript">
function formfocus() {
        var f=document.getElementById('newPatientForm');
        f.elements[0].focus();
}
window.onload = formfocus;
</script>
{%endblock%}

{% block content %}
<form ID="newPatientForm" action="/patient/new/" method="POST">{% csrf_token %}
<TABLE>
{{ form.as_table }}
</TABLE>
<input type="submit" value="Submit" />
</form>
{%endblock%}
