{% extends "base.html" %}

{% block title %}Active Patient Queue{% endblock %}

{% block extrahead %}
{% comment %}
  <META HTTP-EQUIV="Cache-Control" content="no-cache"> 
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
  <META HTTP-EQUIV="Refresh" CONTENT="30"> 
{% endcomment %}
<script type="text/javascript" src="/media/ocemr/js/CalendarPopup.js"></script>
<script type="text/javascript" src="/media/ocemr/js/AnchorPosition.js"></script> 
<script type="text/javascript" src="/media/ocemr/js/date.js"></script>
<script type="text/javascript" src="/media/ocemr/js/PopupWindow.js"></script>
{% endblock %}

{% block content %}
<DIV ID=extraHeader>
Filter by visit type:
{% ifnotequal filter_visit_type None %}<A HREF=/patient_queue/>All</A>{%else%}ALL{%endifnotequal%} /
{% ifnotequal filter_visit_type "OUT" %}<A HREF=/patient_queue/?filter_visit_type=OUT>Outpatient</A>{%else%}Outpatient{%endifnotequal%} /
{% ifnotequal filter_visit_type "IN" %}<A HREF=/patient_queue/?filter_visit_type=IN>Inpatient</A>{%else%}Inpatient{%endifnotequal%} /
{% ifnotequal filter_visit_type "MAT" %}<A HREF=/patient_queue/?filter_visit_type=MAT>Maternity</A>{%else%}Maternity{%endifnotequal%}
</DIV>
<DIV STYLE="font-size: 1.2em; text-align: center;">
<FORM ACTION="/select_date_for_patient_queue/" METHOD="POST">
(
<A HREF=/patient_queue/{{dayoffset_prev}}/>&#60;prev</A>
<SCRIPT LANGUAGE="JavaScript" ID="jscal_date">
				var cal_date = new CalendarPopup();
				cal_date.showYearNavigation();
				cal_date.showYearNavigationInput();
			</SCRIPT>
<INPUT TYPE="text" NAME="date" ID="id_date" SIZE=7 VALUE="{{d_today|date:"SHORT_DATE_FORMAT"}}" >
<A HREF="#" onClick='cal_date.select(document.forms[0].id_date,"date","yyyy-MM-dd"); return false;' NAME="date" ID="date">^</a>
<INPUT TYPE=submit VALUE=go>
<A HREF=/patient_queue/{{dayoffset_next}}/>next&#62;</A>
)
</FORM>
</DIV>


{% if visits %}
<DIV STYLE="font-size: 1.2em;">Active({{num_active}}):</DIV>
<TABLE>
<TR><TH>Seen</TH><TH>Patient Id</TH>{% ifequal filter_visit_type None %}<TH>Type</TH>{%endifequal%}<TH>Status</TH><TH>Claimed</TH><TH>Labs</TH><TH>Actions</TH></TR>
{% for v in visits %}
<TR>
<TD>{{v.seenDateTime|date:"SHORT_DATETIME_FORMAT"}}</TD>
<TD><A HREF=/patient/{{v.patient.id}}/>{{ v.patient }}</A></TD>
{% ifequal filter_visit_type None %}<TD>{{v.displayType}}</TD>{%endifequal%}
	{% ifequal v.status "MISS" %}
		<TD STYLE='background-color:#FF5555;'>
	{% else %} {% ifequal v.status "INPR" %}
		<TD STYLE='background-color:#77FF77;'>
	{% else %} {% ifequal v.status "WAIT" %}
		<TD STYLE='background-color:#FFFF55;'>
	{% else %}
		<TD STYLE='background-color:#FFFFFF;'>
	{% endifequal %}
	{% endifequal %}
	{% endifequal %}
{{v.displayStatus}} </TD>
{%if v.is_claimed %}
	<TD STYLE='background-color:#77FF77;'>{{v.claimedBy}}
{% else %}
	<TD STYLE='background-color:#FFFF55;'>No
{% endif %}
</TD>
{% ifequal v.get_lab_status 1 %}
	<TD STYLE='background-color:#FFFF55;'>Wait</SPAN>
{% else %}{% ifequal v.get_lab_status 2 %}
		<TD STYLE='background-color:#77FF77;'>Done</SPAN>
	{% else %}
		<TD>
	{% endifequal %}
{% endifequal %}
</TD>
<TD>

<A HREF=/visit/{{v.id}}/>View-Chart</A>
{%if v.is_claimed %}
	| <A HREF=# onClick='window.open("/visit/{{v.id}}/unclaim/","Unclaim Patient","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Undo-Claim</A>
	| <A HREF=# onClick='window.open("/visit/{{v.id}}/finish/","Finish Visit","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Finish</A>
{%else%}
	| <A HREF=# onClick='window.open("/visit/{{v.id}}/claim/","Claim Patient","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Claim</A>
	| <A HREF=# onClick='window.open("/visit/{{v.id}}/unseen/","Patient Missed","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Undo-Seen</A>
{%endif%}
{% if v.can_modify_visit_type %}
	{% ifequal v.type "OUT" %}
		| <A HREF=# onClick='window.open("/visit/{{v.id}}/set_type/IN","Set Inpatient","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Set-Inpatient</A>
		| <A HREF=# onClick='window.open("/visit/{{v.id}}/set_type/MAT","Set Maternity","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Set-Maternity</A>
	{%else%}
	{% ifequal v.type "IN" %}
		| <A HREF=# onClick='window.open("/visit/{{v.id}}/set_type/OUT","Set Outpatient","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Set-Outpatient</A>
		| <A HREF=# onClick='window.open("/visit/{{v.id}}/set_type/MAT","Set Maternity","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Set-Maternity</A>
	{%else%}
	{% ifequal v.type "MAT" %}
		| <A HREF=# onClick='window.open("/visit/{{v.id}}/set_type/IN","Set Inpatient","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Set-Inpatient</A>
		| <A HREF=# onClick='window.open("/visit/{{v.id}}/set_type/OUT","Set Outpatient","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Set-Outpatient</A>
	{%endifequal%}
	{%endifequal%}
	{%endifequal%}
{%endif%}
</TD>
{% endfor %}
</TABLE>
{% endif %}



{% if r_visits %}
<DIV STYLE="font-size: 1.2em;">Inactive({{num_inactive}}):</DIV>
<TABLE>
<TR><TH>Finished</TH><TH>Patient Id</TH>{% ifequal filter_visit_type None %}<TH>Type</TH>{%endifequal%}<TH>Status</TH><TH>Finished By</TH><TH>Meds</TH><TH>Actions</TH></TR>
{% for v in r_visits %}
<TR>
<TD>{{v.finishedDateTime|date:"SHORT_DATETIME_FORMAT"}}</TD>
<TD><A HREF=/patient/{{v.patient.id}}/>{{ v.patient }}</A></TD>
{% ifequal filter_visit_type None %}<TD>{{v.displayType}}</TD>{%endifequal%}
	{% ifequal v.status "MISS" %}
		<TD STYLE='background-color:#FF5555;'>
	{% else %} {% ifequal v.status "RESO" %}
		<TD STYLE='background-color:#77FF77;'>
	{% else %} {% ifequal v.status "CHOT" %}
		<TD STYLE='background-color:#FFFF55;'>
	{% else %}
		<TD STYLE='background-color:#FFFFFF;'>
	{% endifequal %}
	{% endifequal %}
	{% endifequal %}
{{v.displayStatus}} </TD>
<TD>{{v.finishedBy}}</TD>
{% ifequal v.get_med_status 1 %}
	<TD STYLE='background-color:#FFFF55;'>Wait</SPAN>
{% else %}{% ifequal v.get_med_status 2 %}
		<TD STYLE='background-color:#77FF77;'>Done</SPAN>
	{% else %}
		<TD>
	{% endifequal %}
{% endifequal %}
</TD>
<TD>
{%ifequal v.status "MISS" %}
	<A HREF=# onClick='window.open("/visit/{{v.id}}/unfinish/","Unfinish Visit","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Undo-Miss</A>
{% else %}
	<A HREF=# onClick='window.open("/visit/{{v.id}}/unfinish/","Unfinish Visit","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Undo-Finish</A>
{% endifequal %}
	
</TR>
{% endfor %}
</TABLE>
{% endif %}
{% endblock %}

