{% extends "base_visit.html" %}
{% block visitContent %}
<A HREF="#" onClick='window.open("/visit/{{v.id}}/immu/new/","New Immunization Log","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Add an Immunization Log</A>
{% for il in immunizationLogs %}
<DIV ID=immunizationLogs>
<TEXTAREA DISABLED>{{il.description}}</TEXTAREA><BR>
<SPAN ID=immunizationLogsByline>by {{il.addedBy}} on {{il.addedDateTime|date:"SHORT_DATETIME_FORMAT"}}</SPAN>
</DIV> <!-- immunizationLogs -->
{% endfor %}

{% endblock %}

