{% load version %}
{% load main_menu %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<HEAD>
<title>OCEMR: {% block title %}{% endblock %}</title>
<link rel="shortcut icon" href="/media/ocemr/img/engeye-logo.ico" />
<link href="/media/ocemr/css/base.css" rel="stylesheet" />
{% block extrahead %}{% endblock %}
</HEAD>
<BODY>
<div id="container">
  <DIV ID="titlebar">
    <DIV ID="titlebarLeft"><A HREF=/patient_queue/>OCEMR</A> {% get_version_tag %}</DIV>
    <DIV ID="titlebarRight">{% if user.is_authenticated %}{{ user.username }} -
LANG: <A HREF=/user_prefs/>{{LANGUAGE_CODE}}</A>
- <A HREF=/accounts/logout/>Logout</A>{% endif %}</DIV>
  </DIV> <!-- titlebar -->
  <DIV ID="header">
    <DIV ID="headerLeft">{% now "j F Y" %}</DIV>
    <DIV ID="headerRight">{% now "h:i A" %}</DIV>
  </div> <!-- header -->
  <DIV ID="extraHeader">

{% block extraheader %}
	{% menu_item /patient_queue/ "Patient Queue" request.path_info %}
	(
	{% menu_item /patient/search/ "search" request.path_info %},
	{% menu_item /patient/new/ "add" request.path_info %}
	)
	| {% menu_item /lab_queue/ "Lab Queue" request.path_info %}
	| {% menu_item /med_queue/ "Med Queue" request.path_info %}
	| {% menu_item /user_prefs/ "User Prefs" request.path_info %}
{% endblock %}
  </DIV> <!-- extraHeader -->
  <DIV ID="content">
    {% block content %}{% endblock %}
  </DIV> <!-- content -->
</div> <!-- container -->
</BODY>
</HTML>
