{% load version %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<HEAD>
<title>OCEMR: {% block title %}{% endblock %}</title>
<link href="/css/base.css" rel="stylesheet" />
{% block extrahead %}{% endblock %}
</HEAD>
<BODY>
<div id="container">
  <DIV ID="titlebar">
    <DIV ID="titlebarLeft"><A HREF=/patient_queue/>OCEMR</A> {% get_version_tag %}</DIV>
    <DIV ID="titlebarRight"><A HREF=/accounts/logout/>Logout</A></DIV>
  </DIV> <!-- titlebar -->
  <DIV ID="header">
    <DIV ID="headerLeft">{% now "F j Y" %}</DIV>
    <DIV ID="headerRight">{% now "H:i" %}</DIV>
  </div> <!-- header -->
  <DIV ID="extraHeader">
    {% block extraheader %}{% endblock %}
  </DIV> <!-- extraHeader -->
  <DIV ID="content">
    {% block content %}{% endblock %}
  </DIV> <!-- content -->
</div> <!-- container -->
</BODY>
</HTML>
