{% extends "base.html" %}

{% block title %}Active Med Queue{% endblock %}

{% block extrahead %}
{% comment %}
  <META HTTP-EQUIV="Cache-Control" content="no-cache">
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Refresh" CONTENT="30"> 
{% endcomment %}
{% endblock %}  

{% block extraheader %}
	<A HREF=/patient_queue/>Patient Queue</A>|<A HREF=/lab_queue/>Lab Queue</A>|Med Queue|<A HREF=/reports/>Reports</A>
{% endblock %}

{% block content %}
<TABLE>
<TR>
	<TH>Finished @</TH>
	<TH>Finished By</TH>
	<TH>Patient Id</TH>
	<TH># of Meds</TH>
	<TH>Med Status</TH>
	<TH>Visit Status</TH>
	<TH>Billed</TH>
	<TH>Collected</TH>
	<TH>Actions</TH>
</TR>
{% for v in visits_active %}
<TR>
<TD>{{v.finishedDateTime|date:"d-m H:i"}}</TD>
<TD>{{v.finishedBy}}
<TD><A HREF=/patient/{{v.patient.id}}/>{{ v.patient }}</A></TD>
<TD>{{ v.get_num_meds }}</TD>
        {% ifequal v.get_med_status 1 %}
                <TD STYLE='background-color:#FFFF55;'>Waiting
        {% else %}{% ifequal v.get_med_status 2 %}
                <TD STYLE='background-color:#77FF77;'>Done
	{% else %}<TD STYLE='background-color:#77FF77;'>N/A
        {% endifequal %}
        {% endifequal %}
</TD>
	{% ifequal v.status "CHOT" %}
                <TD STYLE='background-color:#FFFF55;'>
	{% else %}
		<TD>
        {% endifequal %}
{{v.displayStatus}}</SPAN>
</TD>
<TD>{{v.cost}}(<A HREF=# onClick='window.open("/visit/{{v.id}}/bill_amount/","Collect","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>edit</A>)</TD>
<TD>
{% ifequal v.get_med_status 2 %}
	{% if v.has_collected %}
		{% if v.has_collected_multiple %}
			{% for cl in v.get_cashlog %}
				{{cl.amount}}<br>
			{% endfor %}
		<HR>
		Total =
		{% endif %}
		{{ v.collected }}	
		(<A HREF=# onClick='window.open("/visit/{{v.id}}/collect/","Collect","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>add</A>)
	{% else %}
		-
		(<A HREF=# onClick='window.open("/visit/{{v.id}}/collect/","Collect","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>add</A>)
	{% endif %}
		
{% else %}
		-
{% endifequal %}
</TD>
<TD>
		<A HREF="/meds/{{v.id}}/">View</A>
		{% ifequal v.get_med_status 2 %}
		| <A HREF=# onClick='window.open("/visit/{{v.id}}/resolve/","Resolve","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Resolve</A>
		{% endifequal %}
		| <A HREF=# onClick='window.open("/visit/{{v.id}}/record/print/","Print","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Print-Rec</A>
		| <A HREF=# onClick='window.open("/visit/{{v.id}}/record/view/","Print","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>View-Rec</A>
</TD>
</TR>
{% endfor %}
</TABLE>
Resolved:
<TABLE>
<TR>
	<TH>Resolved @</TH>
	<TH>Resolved By</TH>
	<TH>Patient Id</TH>
	<TH># of Meds</TH>
	<TH>Billed</TH>
	<TH>Collected</TH>
	<TH>Actions</TH>
</TR>
{% for v in visits_inactive %}
<TR>
<TD>{{v.resolvedDateTime|date:"d-m H:i"}}</TD>
<TD>{{v.resolvedBy}}
<TD><A HREF=/patient/{{v.patient.id}}/>{{ v.patient }}</A></TD>
<TD>{{ v.get_num_meds }}</TD>
<TD>{{v.cost}}(<A HREF=# onClick='window.open("/visit/{{v.id}}/bill_amount/","Collect","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>edit</A>)</TD>
<TD>
	{% if v.has_collected %}
		{% if v.has_collected_multiple %}
			{% for cl in v.get_cashlog %}
				{{cl.amount}}<br>
			{% endfor %}
		<HR>
		Total =
		{% endif %}
		{{ v.collected }}	
		(<A HREF=# onClick='window.open("/visit/{{v.id}}/collect/","Collect","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>add</A>)
	{% else %}
		-
		(<A HREF=# onClick='window.open("/visit/{{v.id}}/collect/","Collect","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>add</A>)
	{% endif %}
		
</TD>
<TD>
		<A HREF="/meds/{{v.id}}/">View</A>

		<A HREF=# onClick='window.open("/visit/{{v.id}}/unresolve/","Undo Resolve","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Undo Resolve</A>
</TD>
</TR>
{% endfor %}
</TABLE>
{% endblock %}
