{% extends "base.html" %}
{% block title %}Patient Search{% endblock %}
{% block extrahead %}
{{ form.media }}
<script language="javascript" type="text/javascript">
function formfocus() {
        var f=document.getElementById('searchForm');
        f.elements[0].focus();
}
window.onload = formfocus;
</script>
{%endblock%}
{% block extraheader %}
        <A HREF=/patient_queue/>Patient Queue</A>(search,<a href=/patient/new>add</a>)|<A HREF=/lab_queue/>Lab Queue</A>|<A HREF=/med_queue/>Med Queue</A>|<A HREF=/reports/>Reports</A>
{%endblock%}
{% block content %}
<form ID=searchForm action="/patient/search/" method="POST">{% csrf_token %}
<TABLE>
{{ form.as_table }}
</TABLE>
<input type="submit" value="Submit" />
</form>
{% endblock %}
