{% extends "base.html" %}
{% block title %}{{p}} ({{p.id}}){% endblock %}
{% block extraheader %}
        <A HREF=/patient_queue/>Patient Queue</A>(<A HREF=/patient/search/>search</a>,<a href=/patient/new>add</a>)|<A HREF=/lab_queue/>Lab Queue</A>|<A HREF=/med_queue/>Med Queue</A>|<A HREF=/reports/>Reports</A>
{% endblock %}
{% block content %}
<DIV ALIGN=CENTER><B>{{p}}</B></DIV>
<TABLE WIDTH=100%>
<TR><TD VALIGN=TOP>
<TABLE>
<TR>
    <TD>Patient ID</TD>
    <TD>{{p.id}}</TD>
</TR>
<TR>
    <TD>Name <a href="#" onClick='window.open("/patient/edit/name/{{p.id}}/","Edit Name","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>edit</a></TD>
    <TD>{{p.fullName}}</TD>
</TR>
{% if p.birthDate %}
<TR>
    <TD>Birthdate (Age)<A href="#" onClick='window.open("/patient/edit/age/{{p.id}}/","Edit Age","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>edit</a></TD>
    <TD>{{p.birthDate|date:"d-m-Y"}} ({{p.age}})</TD>
{% else %}
<TR>
    <TD>Approx. Age <A href="#" onClick='window.open("/patient/edit/age/{{p.id}}/","Edit Age","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>edit</a></TD>
    <TD>{{p.age}}</TD>
{% endif %}
</TR>
<TR>
    <TD>Village
{% comment %}
TODO: Fix village edit here!
<a href="#" onClick='window.open("/patient/edit/village/{{p.id}}/","Edit Village","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>edit</a>
{% endcomment %}
</TD>
    <TD>{{p.village}}</TD>
</TR>
<TR>
    <TD COLSPAN=2>Record Created by {{p.createdBy}} on {{p.createdDateTime|date:"d-m H:i"}}</TD>
</TR>
</TABLE>
</TD><TD VALIGN=TOP>
<TABLE>Scheduled Visits(<A HREF="#" onClick='window.open("/patient/schedule_new_visit/{{p.id}}/","Add Visit","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Schedule Future Visit</a>):
<TR><TH>Visit ID<TH>Scheduled<TH>Status<TH>Reason<TH>Detail</TR>
{% for v in upcoming_visits %}
<TR>
  <TD><A HREF=/visit/{{v.id}}>{{ v.id }}</A>
  <TD>{{ v.scheduledDate|date:"d-m-Y" }} by {{ v.scheduledBy }}
  <TD>{{ v.displayStatus }}
   <TD>{{ v.reason }}
   <TD>{{ v.reasonDetail }}
{% endfor %}
</TABLE>
</TD></TR></TABLE>
<TABLE>Past &amp; Current Visits
(<A HREF="#" onClick='window.open("/patient/schedule_walkin_visit/{{p.id}}/","Add Visit","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Schedule Walk-up Visit Now!</a>):
<TR><TH>Scheduled<TH>Status<TH>Seen<TH>Claimed<TH>Finished<TH>Resolved<TH>Actions</TR>
<TR><TH>Reason<TH>Detail</TR>
{% for v in visits %}
<TR>
   <TD>{{ v.scheduledDate|date:"d-m-Y" }}
   by {{ v.scheduledBy }}

	{% ifequal v.status "MISS" %}
		<TD STYLE='background-color:#FF5555;'>
	{% else %} {% ifequal v.status "INPR" %}
		<TD STYLE='background-color:#77FF77;'>
	{% else %} {% ifequal v.status "WAIT" %}
		<TD STYLE='background-color:#FFFF55;'>
	{% else %}
		<TD STYLE='background-color:#FFFFFF;'>
	{% endifequal %}
	{% endifequal %}
	{% endifequal %}
{{v.displayStatus}} </TD>
   <TD>{{ v.seenDateTime|date:"d-m H:i" }}
   <TD>{{ v.claimedDateTime|date:"d-m H:i" }}
   by {{ v.claimedBy }}
   <TD>{{ v.finishedDateTime|date:"d-m H:i" }}
   by {{ v.finishedBy }}
   <TD>{{ v.resolvedDateTime|date:"d-m H:i" }}
   by {{ v.resolvedBy }}
   <TD><A HREF=/visit/{{v.id}}>View Chart</A>
</TR>
<TR>
   <TD>{{ v.reason }}
   <TD COLSPAN=100>{{ v.reasonDetail }}
</TR>
{% endfor %}
</TABLE>

{% endblock %}
