{% extends "base.html" %}
{% block title %}Patient Search Results{% endblock %}
{% block extraheader %}
        <A HREF=/patient_queue/>Patient Queue</A>(<A HREF=/patient/search/>search</a>,<a href=/patient/new>add</a>)|<A HREF=/lab_queue/>Lab Queue</A>|<A HREF=/med_queue/>Med Queue</A>
{%endblock%}
{% block content %}
{% if patients %}
<TABLE>
<TR><TH>Id</TH><TH>Name</TH><TH>Actions</TH></TR>
{% for p in patients %}
<TR>
	<TD>{{p.id}}</TD>
	<TD>
		{{p.fullName}}</a>
	</TD>
	<TD><a href=/patient/{{p.id}}/>view</a></TD>
{% endfor %}
</TABLE>
{% else %}
<H2>None Found</H2>
<P>If the patient <b>should</b> be in the system, consider using
<SPAN ID=textUnderlined><u>alternate spellings</u></SPAN> or
<SPAN ID=textUnderlined><u>broader search terms</u></span> before
 <A HREF=/patient/new/>Adding a new Patient</A>.
{% endif %}
{% endblock %}
