{% extends "base_popup.html" %}

{% block extrahead %}
{{ form.media }}

<script language="javascript" type="text/javascript">
function formfocus() {
	var f=document.getElementById('popupForm');
	f.elements[0].focus();
}
window.onload = formfocus;
</script>

{% endblock %}

{% block content %}
<SPAN>{{title}}</SPAN>
<form ID=popupForm action="{{ form_action }}" method="POST">
<TABLE>
{{ form.as_table }}
</TABLE>
<input type="submit" value="Submit" />
</form>
<DIV ALIGN=RIGHT>
<a href="#" onClick='opener.window.location.reload();self.close();return false;'>Cancel</a>
</DIV>
{% endblock %}
