{% extends "base.html" %}

{% block title %}User Preferences{% endblock %}

{% block content %}
<H1>User Settings</H1>
<H2>Language</H2>
<form class=inlineform action="/i18n/setlang/" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="{{request.path}}" />
<select name="language">
{% for lang in LANGUAGES %}
<option value="{{ lang.0 }}"{% ifequal LANGUAGE_CODE lang.0 %} SELECTED{% endifequal %}>{{ lang.1 }}</option>
{% endfor %}
</select>
<input type="submit" value="Go" />
{% if request.user.is_staff %}
<H1>Staff Functions</H1>
<UL>
<LI> <A HREF=/admin/>Data Admin Panel</A>
<LI> <A HREF=/get_backup/>Backup the Database</A> Click this only once, and be patient!
</UL>
{% endif %}
</form>
{% endblock %}

