{% extends "base_visit.html" %}
{% block visitExtrahead %}
<link href="/media/ocemr/css/visit_refe.css" rel="stylesheet" />
{% endblock %}
{% block visitContent %}
<A HREF="#" onClick='window.open("/visit/{{v.id}}/refe/new/","New Referral","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>Add a Referral</A>
{% for r in referrals %}
<DIV ID=referral>
<SPAN ID=referralTo>To: {{r.to}}
(<A HREF="#" onClick='window.open("/visit/{{v.id}}/refe/edit/{{r.id}}","Edit Referral","menubar=no,width=540,height=420,toolbar=no,scrollbars=yes");'>edit</A>)</SPAN><BR>
<SPAN ID=referralReason>Reason: {{r.reason}}</TEXTAREA><BR>
<SPAN ID=referralByline>by {{r.addedBy}} on {{r.addedDateTime|date:"SHORT_DATETIME_FORMAT"}}</SPAN>
</DIV> <!-- referral -->
{% endfor %}

{% endblock %}

