{% extends "base_visit.html" %}
{% block visitExtrahead %}
<link href="/media/ocemr/css/visit_meds.css" rel="stylesheet" />
{% endblock %}
{% block visitContent %}
<OL>
<A HREF=# onClick='window.open("/visit/{{ v.id }}/vacs/new/","Add Vaccination","menubar=no,width=540,height=360,toolbar=no,scrollbars=yes");'>Add Vaccination</A>
{% for vac in vaccinations %}
  <LI>{{vac.type.title}}</LI>
	<TABLE>
        {% ifequal vac.status "PLA" %}
                <TD STYLE='background-color:#FFFF55;'>
        {% endifequal %}
        {% ifequal vac.status "COM" %}
                <TD STYLE='background-color:#77FF77;'>
        {% endifequal %}
	{% ifequal vac.status "INP" %}
                <TD STYLE='background-color:#FF7755;'>
        {% endifequal %}
	{% ifequal vac.status "CAN" %}
                <TD STYLE='background-color:#FF5555;'>
        {% endifequal %}
			{{vac.displayStatus}}
		</TD>
		<TD>
		{% ifequal vac.status "PLA" %}
		<A HREF=# onClick='window.open("/vac/{{vac.id}}/cancel/","Cancel","menubar=no,width=540,height=360,toolbar=no,scrollbars=yes");'>Cancel</A>
		{% endifequal %}
		{% ifequal vac.status "INP" %}
		<A HREF=# onClick='window.open("/vac/{{vac.id}}/cancel/","Cancel","menubar=no,width=540,height=360,toolbar=no,scrollbars=yes");'>Cancel</A>
		{% endifequal %}
		<A href="#" onClick='window.open("/vac/{{vac.id}}/notate/","Notate","menubar=no,width=540,height=360,toolbar=no,scrollbars=yes");'>Note</A>
		{% comment %}
		{% ifequal vac.status "ORD" %}
		<A HREF=# onClick='window.open("/med/{{m.id}}/edit/","Edit Med","menubar=no,width=540,height=360,toolbar=no,scrollbars=yes");'>Edit</A>
		<A HREF=# onClick='window.open("/med/{{m.id}}/cancel/","Cancel","menubar=no,width=540,height=360,toolbar=no,scrollbars=yes");'>Cancel</A>
		{% endifequal %}
		<A href="#" onClick='window.open("/med/{{m.id}}/notate/","Notate","menubar=no,width=540,height=360,toolbar=no,scrollbars=yes");'>Note</A>
		{% endcomment %}
		<TR><TD COLSPAN=4>
		{% for n in vac.get_notes %}
		    <DIV ID=medNote>
	                "{{n.note}}" by {{n.addedBy}} @{{n.addedDateTime|date:"SHORT_DATETIME_FORMAT"}}
	            </DIV>

		{% endfor %}
		
	</TABLE>
{% endfor %}
</OL>
{% endblock %}

