{% extends "base_visit.html" %}
{% block visitExtrahead %}
{% endblock %}
{% block visitContent %}
    <A HREF=# onClick='window.open("/visit/{{v.id}}/vacs/new/","Add Vaccination","menubar=no,width=540,height=360,toolbar=no,scrollbars=yes");'>Add New</A>
<TABLE>
{% for vact,vac,vnotes in vacs %}
<TR>	<!-- {{vact}} - {{vac}} -->
	<TD>{{vact.title}}
	<TD>{% if vac %}{{vac.receivedDate}}{% else %}--------{% endif %}
	<TD>

	<A href="#" onClick='window.open("/vac/notate/{{p.id}}/{{vact.id}}/","Notate","menubar=no,width=540,height=360,toolbar=no,scrollbars=yes");'>Note</A>
	{% if vac %}
	| <A HREF=# onClick='window.open("/vac/edit_received/{{vac.id}}/","Change Received Date","menubar=no,width=540,height=360,toolbar=no,scrollbars=yes");'>Change Received Date</A>
	| <A HREF=# onClick='window.open("/vac/del/{{p.id}}/{{vact.id}}/","Delete","menubar=no,width=540,height=360,toolbar=no,scrollbars=yes");'>Delete</A>
	{% else %}
	<A href="#" onClick='window.open("/vac/new/{{p.id}}/{{vact.id}}/","Add","menubar=no,width=540,height=360,toolbar=no,scrollbars=yes");'>Add</A>
	{% endif %}
<TR><TD COLSPAN=3>
	{% if vnotes %}{% for n in vnotes %}
		<DIV ID=vacNote>
			"{{n.note}}" by {{n.addedBy}} @{{n.addedDateTime|date:"SHORT_DATETIME_FORMAT"}}
		</DIV>
	{% endfor %}{% endif %}
{% endfor %}
</TABLE>
{% endblock %}

